syntax: glob
.crashlytics_data/
.DS_Store
.gradle/
.settings
.idea
*.iml
bin/
build/
gen/
local.properties
toastPluginSettingApp/release/output.json
toastPluginSettingApp/release/toastPluginSettingApp-release.apk
